<?xml version="1.0" ?>
<!--
/**
 * @author      Tulio de Melo | Caravel Core Team
 * @copyright   2023 Caravel (https://caravel.com.br)
 * @license     Caravel Proprietary
 * @link        https://caravel.com.br
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Page">
        <plugin name="ecritel_cmspageauthor_add_author" type="Ecritel\CmsPageAuthor\Plugin\AddPageAuthor" sortOrder="1" disabled="false" />
    </type>
</config>
