<?xml version="1.0" ?>
<!--
/**
 * @author      Tulio de Melo | Caravel Core Team
 * @copyright   2023 Caravel (https://caravel.com.br)
 * @license     Caravel Proprietary
 * @link        https://caravel.com.br
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecritel" translate="label" sortOrder="110">
            <label>Ecritel</label>
        </tab>
        <section id="author" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="600">
            <label>Author</label>
            <tab>ecritel</tab>
            <resource>Ecritel_CmsPageAuthor::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_visible_on_storefront" translate="label comment" type="select" sortOrder="401" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Visible on Storefront</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
